/node_modules
/mqeditor
/dist
/public
# These can be found in node_modules/prosemirror-image-plugin/dist/styles, paste into style
style/common.css
style/sideResize.css
style/withoutResize.css
style/withResize.css
style/mathquill.css
style/fonts/*