#editor p {
    /* Stop extra margin between lines in prosemirror */
    margin: 0;
}

.highlighted {
    background-color: #3367D1;
    color: white;
}

@font-face {
    font-family: 'Symbola';
    src: url('../mqeditor/build/fonts/Symbola.woff2') format('woff2'),
         url('../mqeditor/build/fonts/Symbola.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('../mqeditor/build/fonts/Symbola.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

body {
    font-family: 'Symbola', Fallback, sans-serif;
}

p:has(.mq-align) {
    text-align:center;
}

p {
    transform: translateZ(0);
}

a {
    color: blue;
    cursor: pointer;
}

a::before {
    content: "(";
}

a::after {
    content: ")";
}

h2 {
    display:inline;
}

h3 {
    display:inline;
}